---
---

@import "{{ site.theme }}";

body {
	background: white url('../img/background.png') repeat;
}

#container {
	margin-top: 20px;
	margin-bottom: 20px;
	background: transparent;
}

.inner {
	padding: 20px 50px 0 50px;
	border-radius: 2px;
	background-color: rgba(255, 255, 255, 0.7);
}

.text-center {
	text-align: center;
}

.recipe-link, .example-link {
	font-size: 10px;
	padding: 0 1px 0 1px;
	text-transform: uppercase;
}

a {
	color: #4da6ff;
	text-decoration: underline;
}

p {
	text-align: justify;
}