---
---

@import "{{ site.theme }}";

body {
	background: white url('../img/background.png') repeat;
}

#container {
	margin-top: 20px;
	margin-bottom: 20px;
	background: transparent;
}

.inner {
	padding: 20px 50px 0 50px;
	border-radius: 2px;
	background-color: rgba(255, 255, 255, 0.7);
}

.text-center {
	text-align: center;
}

.recipe-link, .example-link {
	font-size: 10px;
	padding: 0 1px 0 1px;
	text-transform: uppercase;
}

a {
	color: #4da6ff;
	text-decoration: underline;
}

a.inside_link {
	color: black;
	text-weight: bold;
}

p {
	text-align: justify;
}

div.cover {
	width: 140px;
	height: 140px;
	float: left;
	margin:5px;
	border-radius: 2px;
	border: 1px solid #666666;
}

.cover img {
	position: absolute;
	z-index: 1;
	opacity: 0.7;
    filter: alpha(opacity=70);
}

.cover img:hover {
	opacity: 1;
    filter: alpha(opacity=100);
}

div.ellipsis {
	width: 120px;
	font-size:10px;
	color: #8c8c8c;
	text-align: center;
	background-color: white;

	text-transform:uppercase;
    white-space: nowrap; 
	text-overflow: ellipsis; 
    overflow: hidden;

	padding:3px;
	margin-top: 119px;
	margin-left: 6px;
	border-top: 1px solid #666666;
	border-left: 1px solid #666666;
	border-right: 1px solid #666666;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;

	position: absolute;
	z-index: 2;
}

div.break_float {
	clear: both;
}

p {
	padding: 10px;
	margin: 0;
}

p.subtitle {
	font-style: italic;
}

div#container_title {
	width: 100%;
	margin-left: auto;
  	margin-right: auto;
  	background-color: white;
}

div#container_title img {
	display: block;
	text-align: center;
	margin-left: auto;
  	margin-right: auto;
}

div#container_title h1 {
	display: block;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	margin-left: auto;
  	margin-right: auto;
	color: white;
	text-align: center;
	width: 60%;
	padding: 6px;
	font-size: 20px;
	text-decoration: none;
	border: 0;
  	margin-bottom: 10px;
}

div#container_title h1#jenkins {
	background-color: #335061;
}

hr#sep {
	margin:0;
	padding:0;
}

h3 {
	color: #4d4d4d;
}

img.config {
	margin-top: -15px;
}

p#date {
	font-size: 11px;
	text-align: right;
	font-style: italic;
}

.without_deco {
	outline: 0;
	text-decoration: none;
}

h1 {
	font-size: 25px;
}
